/* Estilos generales */
body {
    background-image: url(/public/images/pexels-cheyenne-shotton-50308-186176.jpg);
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #5f5341;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    max-width: 100%;
    margin-top: 100px;
    padding: 10px;
    background-color: #cfd0b7;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    color: #5f5341;
}

.frase-inicial p,
.nombre h1,
.location p,
.countdown p,
.countdown span {
    margin: 10px 0;
}

.frase-inicial p, .fecha p, .location{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    color: #5f5341;
    font-size: 150%;
}
span{
    color: #2b251d;
}

.nombre h1 {
    color: #2b251d;
    transform: rotate(-15deg);
}

.nombre{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 280%;
    font-style: normal;
    
    color: #fff; /* Color del texto */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #c98029, 0 0 70px #c98029, 0 0 80px #c98029, 0 0 100px #c98029, 0 0 150px #c98029;
    animation: neon-animation 1.5s ease-in-out infinite alternate; 
}
@keyframes neon-animation {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5f5341, 0 0 70px #5f5341, 0 0 80px #5f5341, 0 0 100px #5f5341, 0 0 150px #5f5341; 
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #5f5341, 0 0 35px #5f5341, 0 0 40px #5f5341, 0 0 50px #5f5341, 0 0 75px #5f5341; 
    }
}

.countdown {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}
.countdown .countdown-text{
    font-size: 120%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.countdown div {
    background-color: #c3c3a2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    min-width: 60px; /* Puedes ajustar este valor según tu preferencia */
    margin: 5px;
}

.countdown p {
    font-size: 2em;
    margin: 0;
    color: #4f4538;
}

.countdown span {
    display: block;
    font-size: 0.8em;
    color: #4f4538;
}

hr {
    border-color: #5f5341;
}
.boton-mapa {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #908562; 
    border: none; 
    color: white;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 80%; 
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 10px; 
    font-weight: bold;
}

.boton-mapa:hover {
    background-color: #7b6e53; 
}

.confeti {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.8;
    border-radius: 50%;
    animation: confeti-fall 2s linear forwards;
}

@keyframes confeti-fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

.dress-code-container {
    display: none;
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-top: 10px; 
}

#toggleDressCode {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #908562;
    color: white;
    margin-top: 10px;
    padding: 10px 20px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}
#toggleDressCode:hover {
    background-color: #7b6e53; 
}
#toggleServices {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #908562;
    color: white;
    margin-top: 10px;
    padding: 10px 20px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}
#toggleServices:hover{
    background-color: #7b6e53; 
}
.img-dresscode {
    width: 50%;
    height: 50%;
    
}

th, td {
    padding: 10px;
    text-align: center; 
    vertical-align: middle; 
}
.dress-code-table th{
    color: #2b251d;
}
.dress-code-titles {
    color:#2b251d;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: bold;
}

.dress-code-subtitle{
    color:#2b251d;
    font-family: "Playfair Display", serif;
    font-size: 15px;
    font-weight: bold;
}
.img-bandresscode img{
    max-width: 20%;
    height: auto;
    margin: 40px;
}
.img-bandresscode {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ajuste la dirección si desea imágenes en columna o fila */
    height: 100%;
    width: 100%;
    text-align: center;
}